<f:layout name="Default"/>

<f:section name="main">
    <article class="hideH1">
        <h1>Newsletteranmeldung</h1>
        <div class="nl2goForm">
            <script id="n2g_script">
                !function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");

                var config = {
                    "container": {
                        "type": "div",
                        "class": "nlContainer",
                        "style": ""
                    },
                    "row": {
                        "type": "div",
                        "class": "nlRow",
                        "style": ""
                    },
                    "columnLeft": {
                        "type": "div",
                        "class": "nlLeft",
                        "style": ""
                    },
                    "columnRight": {
                        "type": "div",
                        "class": "nlRight",
                        "style": ""
                    },
                    "label": {
                        "type": "label",
                        "class": "nlLabel",
                        "style": ""
                    }
                };

                n2g('create', 'bsdyy1o3-7fiecyc3-1ach');
                n2g('subscribe:createForm', config);
            </script>
        </div>


        </div>

    </article>



    <style>
        #c165 .tx-andrae {
            margin-top: 0 !important;
        }

        #c165 input[type="text"] {
            margin-bottom: 15px;
            width: 75%;
        }

        #c165 input[type="checkbox"] {
            float:left;
        }

        #c165 .nlRight span {
            float: left;
        }

        .nlRight button {
            width: 75%;
            margin-bottom: 20px;
        }
        .nlLabel:first-child {
            position:relative;
            font-size: 32px;
            margin-bottom: 15px;
        }
        #c65 .nlRow:last-child div {
            width: 75% !important;
        }
    </style>

</f:section>