<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     v:schemaLocation="http://fluidtypo3.org/schemas/vhs-2.1.4.xsd"
     f:schemaLocation="http://fluidtypo3.org/schemas/fluid-6.2.0.xsd">

<f:layout name="Default"/>


<f:section name="main">

    <article class="hideH1">
        <h1>Newsletteranmeldung</h1>
        <script>
        function loadjQuery(e, t) {
            var n = document.createElement("script");
            n.setAttribute("src", e);
            n.onload = t;
            n.onreadystatechange = function () {
                if (this.readyState == "complete" || this.readyState == "loaded") t()
            };
            document.getElementsByTagName("head")[0].appendChild(n)
        }

        function main() {
            var $cr = jQuery; //jQuery.noConflict();
            var old_src;
            $cr(document).ready(function () {
                $cr(".cr_form").submit(function () {

                    $cr(this).find('.clever_form_error').removeClass('clever_form_error');
                    $cr(this).find('.clever_form_note').remove();
                    $cr(this).find(".musthave").find('input, textarea').each(function () {
                        if (jQuery.trim($cr(this).val()) == "" || ($cr(this).is(':checkbox')) || ($cr(this).is(':radio'))) {
                            if ($cr(this).is(':checkbox') || ($cr(this).is(':radio'))) {

                                if (!$cr(this).parent().find(":checked").is(":checked")) {
                                    $cr(this).parent().addClass('clever_form_error')
                                }
                            } else {
                                $cr(this).addClass('clever_form_error')
                            }
                        }
                    });
                    if ($cr(this).attr("action").search(document.domain) > 0 && $cr(".cr_form").attr("action").search("wcs") > 0) {
                        var cr_email = $cr(this).find('input[name=email]');
                        var unsub = false;
                        if ($cr("input['name=cr_subunsubscribe'][value='false']").length) {
                            if ($cr("input['name=cr_subunsubscribe'][value='false']").is(":checked")) {
                                unsub = true
                            }
                        }
                        if (cr_email.val() && !unsub) {
                            $cr.ajax({
                                type: "GET",
                                url: $cr(".cr_form").attr("action").replace("wcs", "check_email") + $cr(this).find('input[name=email]').val(),
                                success: function (data) {
                                    console.log('ajax Data', data);
                                    if (data) {
                                        cr_email.addClass('clever_form_error').before("<div class='clever_form_note cr_font'>" + data + "</div>");
                                        return false
                                    }
                                },
                                async: false
                            })
                        }
                        var cr_captcha = $cr(this).find('input[name=captcha]');
                        if (cr_captcha.val()) {
                            $cr.ajax({
                                type: "GET",
                                url: $cr(".cr_form").attr("action").replace("wcs", "check_captcha") + $cr(this).find('input[name=captcha]').val(),
                                success: function (data) {
                                    if (data) {
                                        cr_captcha.addClass('clever_form_error').after("<div style='display:block' class='clever_form_note cr_font'>" + data + "</div>");
                                        return false
                                    }
                                },
                                async: false
                            })
                        }
                    }
                    if ($cr(this).find('.clever_form_error').length) {
                        return false
                    }
                    return true
                });
                $cr('input[class*="cr_number"]').change(function () {
                    if (isNaN($cr(this).val())) {
                        $cr(this).val(1)
                    }
                    if ($cr(this).attr("min")) {
                        if (($cr(this).val() * 1) < ($cr(this).attr("min") * 1)) {
                            $cr(this).val($cr(this).attr("min"))
                        }
                    }
                    if ($cr(this).attr("max")) {
                        if (($cr(this).val() * 1) > ($cr(this).attr("max") * 1)) {
                            $cr(this).val($cr(this).attr("max"))
                        }
                    }
                });
                old_src = $cr("div[rel='captcha'] img:not(.captcha2_reload)").attr("src");
                if ($cr("div[rel='captcha'] img:not(.captcha2_reload)").length != 0) {
                    captcha_reload()
                }
            });

            function captcha_reload() {
                var timestamp = new Date().getTime();
                $cr("div[rel='captcha'] img:not(.captcha2_reload)").attr("src", "");
                $cr("div[rel='captcha'] img:not(.captcha2_reload)").attr("src", old_src + "?t=" + timestamp);
                return false
            }

        }

        if (typeof jQuery === "undefined") {
            loadjQuery("//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", main)
        } else {
            main()
        }

    </script>


        <form class="layout_form cr_form" action="https://eu2.cleverreach.com/f/190979-192407/wcs/"
              method="post" target="_self">
            <div class="cr_body cr_page cr_font formbox">
                <div class="non_sortable" style="text-align:left;">

                </div>

                <div class="editable_content" style="text-align:left;">
                    <div id="4104050" rel="select" class="cr_ipe_item ui-sortable musthave form-group fieldwrap_type_select" style=" margin-bottom:0px;">
                        <label for="select_4104050" class="itemname">Anrede*</label> <select id="select_4104050" class="cr_font form-control" name="1006806" style="width:100%;">


                        <option value="Herr">Herr</option>

                        <option value="Frau">Frau</option>
                    </select>
                    </div>
                    <div class="input-text-combined clearfix">
                        <div id="4104049" rel="text" class="width-50 musthave nlRight">
                            <label for="text4104049" class="itemname">Vorname*</label><input id="text4104049" name="1006805" type="text" value=""/>
                        </div>
                        <div id="4104051" rel="text" class="width-50 nl-second musthave nlRight">
                            <label for="text4104051" class="itemname">Nachname*</label> <input id="text4104051" name="1006807" type="text" value=""/>
                        </div>
                    </div>

                    <div id="4092476" rel="email" class="cr_ipe_item ui-sortable musthave nlRight">
                        <label for="text4092476" class="itemname">E-Mail*</label>
                        <input id="text4092476" name="email" value="" type="text"/>

                    </div>

                    <div rel="dsCb" class="cr_ipe_item ui-sortable nlRight">
                        <span class="musthave">
                            <div class="cr_ds">
                                <input type="checkbox" value="1" id="14096705" name="1006271[]"><label class="nlLabel" for="14096705">Ich bestätige die <a href="https://www.andrae.de/impressum-datenschutz/datenschutz" target="_blank">Datenschutzbestimmung</a></label>
                            </div>
                        </span>
                    </div>

                    <div id="4092480" rel="recaptcha" class="cr_ipe_item ui-sortable musthave">

                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <br/>
                        <div id="recaptcha_v2_widget" class="g-recaptcha" data-theme="light" data-size="normal"
                             data-sitekey="6Lfhcd0SAAAAAOBEHmAVEHJeRnrH8T7wPvvNzEPD"></div>
                        <br/>

                    </div>

                    <div id="4092478" rel="button" class="cr_ipe_item ui-sortable submit_container nlRight">
                        <button type="submit" class="cr_button">Anmelden</button>
                    </div>
                </div>

                <noscript><a href="http://www.cleverreach.de">www.CleverReach.de</a></noscript>
            </div>
            <div class="cr_hinweistext">
                <v:content.render contentUids="{0: '299'}" />
            </div>

            <div class="badge cr_page cr_body"
                 style="text-align:center; border:none !Important; background:transparent !Important;"><a
                    href="https://www.cleverreach.de/?utm_source=system&utm_medium=form&utm_campaign=c190979"
                    target="_blank"><img src="https://d388us03v35p3m.cloudfront.net/cr3_images/badget3.png" border="0"/></a>
            </div>

        </form>

    </article>


</f:section>
</div>