<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     v:schemaLocation="http://fluidtypo3.org/schemas/vhs-2.1.4.xsd"
     f:schemaLocation="http://fluidtypo3.org/schemas/fluid-6.2.0.xsd">

<f:layout name="Default"/>


<f:section name="main">

    <article class="hideH1">

        <div rel="dsCb" class="cr_ipe_item ui-sortable nlRight">
                        <span class="musthave">
                            <div class="cr_ds">
                                <input type="checkbox" value="1" id="14096705" name="1006271[]"><label class="nlLabel" for="14096705">Ich bestätige die <a href="https://www.andrae.de/impressum-datenschutz/datenschutz" target="_blank">Datenschutzbestimmung</a></label>
                            </div>
                        </span>
        </div>
    </article>


</f:section>
</div>