<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="Default"/>

    <f:section name="main">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 blocks">
                <!--  CONTENT ELEMENT, uid:2/gridelements_pi1 [begin] -->
                <f:link.page pageUid="4">
                <div class="StartItem">

                        <div class="heading">
                            <f:if condition="{v:page.language()}==0">
                                <f:then>
                                    <v:content.render contentUids="{0: '261'}" />
                                </f:then>
                                <f:else>
                                    <v:content.render contentUids="{0: '265'}" />
                                </f:else>
                            </f:if>
                        </div>

                </div>
                </f:link.page>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 blocks">
                <!--  CONTENT ELEMENT, uid:2/gridelements_pi1 [begin] -->
                <div class="StartItem">
                    <f:link.page pageUid="5">
                        <div class="heading">
                            <f:if condition="{v:page.language()}==0">
                                <f:then>
                                    <v:content.render contentUids="{0: '262'}" />
                                </f:then>
                                <f:else>
                                    <v:content.render contentUids="{0: '266'}" />
                                </f:else>
                            </f:if>
                        </div>
                    </f:link.page>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 blocks">
                <!--  CONTENT ELEMENT, uid:2/gridelements_pi1 [begin] -->
                <div class="StartItem">
                    <f:link.page pageUid="6">
                        <div class="heading">
                            <f:if condition="{v:page.language()}==0">
                                <f:then>
                                    <v:content.render contentUids="{0: '263'}" />
                                </f:then>
                                <f:else>
                                    <v:content.render contentUids="{0: '267'}" />
                                </f:else>
                            </f:if>
                        </div>
                    </f:link.page>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 blocks">
                <!--  CONTENT ELEMENT, uid:2/gridelements_pi1 [begin] -->
                <div class="StartItem">
                    <f:link.page pageUid="7">
                        <div class="heading">
                            <f:if condition="{v:page.language()}==0">
                                <f:then>
                                    <v:content.render contentUids="{0: '264'}" />
                                </f:then>
                                <f:else>
                                    <v:content.render contentUids="{0: '268'}" />
                                </f:else>
                            </f:if>
                        </div>
                    </f:link.page>
                </div>
            </div>

        </div>

        <style>
            #c269 .tx-andrae {
                margin-top:0;
            }
        </style>

    </f:section>
</div>

