<html>
<body>
<center style="font-family:Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(239,239,239)">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           style="border-collapse:collapse;font-weight:normal!important;margin:0px;color:rgb(122,122,122);width:100%!important;max-width:100%!important;padding:0px;font-family:Helvetica,Arial,'Lucida Grande',sans-serif;height:100%!important;background-color:rgb(239,239,239);table-layout:fixed;min-width:100%!important">
        <tbody>
        <tr>
            <td align="center" valign="top"
                style="font-weight:normal!important;margin:0px;padding:0px;font-family:Helvetica,Arial,'Lucida Grande',sans-serif;height:100%!important;width:100%!important">
                <table bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(239,239,239)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="10" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td valign="top" width="700" style="font-weight:normal!important">
                                                    <table align="left" border="0" cellpadding="10" cellspacing="0"
                                                           width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center">Wird die E-Mail nicht richtig dargestellt, klicken Sie bitte  <a style="color: rgb(0,0,0); text-decoration: underline;" href="{ONLINE_VERSION}">hier</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(255,255,255)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;font-weight:normal!important;">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="0" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td align="center" valign="top" width="700"
                                                    style="font-weight:normal!important">
                                                    <table border="0" cellpadding="30" cellspacing="0" width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>
                                                                        <td align="right" valign="top" style="border-bottom: 1px solid rgb(198,198,198)" width="100%" height="64">
                                                                            <img src="https://andrae.de/fileadmin/template/img/logo.svg" width="170" height="32" alt="Logo" />
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="0" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td align="center" valign="top" width="700"
                                                    style="font-weight:normal!important">
                                                    <table border="0" cellpadding="30" cellspacing="0" width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" valign="top"
                                                                style="font-weight:normal!important">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                       width="100%"
                                                                       style="border-collapse:collapse;font-weight:normal!important">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top"
                                                                            style="font-weight:normal!important;color:rgb(0,0,0);font-family:Helvetica;font-size:12pt;line-height:14pt;text-align:left">

                                                                            <p style="font-weight:bold;font-family:Helvetica,Arial,sans-serif;font-size:12pt;line-height:14pt;text-align:left;letter-spacing:normal;margin:0px 0px 20px;padding:0px;display:block;font-style:normal">
                                                                                {ANREDE[salutation:formal|de]} {NACHNAME},

                                                                            </p>
                                                                            <p>
                                                                                wir informieren Sie mit dieser E-Mail über die wichtigsten Entwicklungen des Wirtschafts-,
                                                                                Arbeits- und Sozialrechts im [%MONAT%] [%JAHR%].<br /><br />
                                                                            </p>
                                                                            <p style="font-weight:bold;font-family:Helvetica,Arial,sans-serif;font-size:12pt;line-height:14pt;text-align:left;letter-spacing:normal;margin:0px 0px 20px;padding:0px;display:block;font-style:normal">
                                                                                Ihr Team der Andrä Consulting Group
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(239,239,239)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="10" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td valign="top" width="700" style="font-weight:normal!important">
                                                    <table align="left" border="0" cellpadding="10" cellspacing="0"
                                                           width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important">
                                                        <tbody>
                                                        <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(0,0,0)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="30" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td width="700" style="font-weight:normal!important">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                           width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important;">
                                                        <tbody>
                                                        <tr>
                                                            <td width="100%" align="center" valign="middle">
                                                                <p style="font-weight:normal!important; color:rgb(255,255,255);font-family:Helvetica;font-size: 20pt;text-align:center; text-transform: uppercase">Neuigkeiten im [%MONAT%] [%JAHR%]</p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Ab hier dynamsich Content aus News Beiträgen hinzufügen -->
                [%CONTENT%]
                <!-- Ende dynamischer Content -->

                <!-- LeerZeile grau -->
                <table bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(239,239,239)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="10" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td valign="top" width="700" style="font-weight:normal!important">
                                                    <table align="left" border="0" cellpadding="10" cellspacing="0"
                                                           width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important">
                                                        <tbody>
                                                        <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Ende LeerZeile grau -->

                <!-- Impressum / abmeldelink -->
                <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(0,0,0)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="30" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td width="700" style="font-weight:normal!important">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                           width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important;">
                                                        <tbody>
                                                        <tr>
                                                            <td width="100%" align="center" valign="middle">
                                                                <p>
                                                                    <span style="font-weight:bold!important;color:rgb(198,198,198);font-family:Helvetica;font-size: 12pt;line-height: 14.4pt;text-align:center">ANDRÄ Consulting Group</span><br />
                                                                    <span style="font-weight:normal!important;color:rgb(198,198,198);font-family:Helvetica;font-size: 12pt;line-height: 14.4pt;text-align:center">Steinbeisstraße 13 | 71332 Waiblingen | 07151 959500 | 07151 9595095<br /><a href="mailto:info@andrae.de" style="color: rgb(198,198,198); text-decoration: none;">info@andrae.de</a> | <a href="https://www.andrae.de" style="color: rgb(198,198,198); text-decoration: none;">www.andrae.de</a></span>
                                                                </p>
                                                                <p><a style="color: rgb(198,198,198); text-decoration: underline;" href="{UNSUBSCRIBE}" >E-Mail Newsletter abbestellen</a></p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0" width="700"
                       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(239,239,239)">
                    <tbody>
                    <tr>
                        <td align="center" valign="top" style="font-weight:normal!important">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;font-weight:normal!important">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" style="font-weight:normal!important">
                                        <table border="0" cellpadding="10" cellspacing="0" width="700"
                                               style="border-collapse:collapse;font-weight:normal!important">
                                            <tbody>
                                            <tr>
                                                <td valign="top" width="700" style="font-weight:normal!important">
                                                    <table align="left" border="0" cellpadding="10" cellspacing="0"
                                                           width="100%"
                                                           style="border-collapse:collapse;font-weight:normal!important">
                                                        <tbody>
                                                        <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>
