<!-- LeerZeile grau -->
<table bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0" width="700"
       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(239,239,239)">
    <tbody>
    <tr>
        <td align="center" valign="top" style="font-weight:normal!important">
            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                   style="border-collapse:collapse;font-weight:normal!important">
                <tbody>
                <tr>
                    <td align="center" valign="top" style="font-weight:normal!important">
                        <table border="0" cellpadding="10" cellspacing="0" width="700"
                               style="border-collapse:collapse;font-weight:normal!important">
                            <tbody>
                            <tr>
                                <td valign="top" width="700" style="font-weight:normal!important">
                                    <table align="left" border="0" cellpadding="10" cellspacing="0"
                                           width="100%"
                                           style="border-collapse:collapse;font-weight:normal!important">
                                        <tbody>
                                        <tr></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- Ende LeerZeile grau -->

<!-- Block Weiß News Teasertext -->
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="700"
       style="border-collapse:collapse;font-weight:normal!important;background-color:rgb(256,256,256)">
    <tbody>
    <tr>
        <td align="center" valign="top" style="font-weight:normal!important">
            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                   style="border-collapse:collapse;font-weight:normal!important">
                <tbody>
                <tr>
                    <td align="center" valign="top" style="font-weight:normal!important">
                        <table border="0" cellpadding="30" cellspacing="0" width="700"
                               style="border-collapse:collapse;font-weight:normal!important">
                            <tbody>
                            <tr>
                                <td valign="top" width="700" style="font-weight:normal!important">
                                    <table align="left" border="0" cellpadding="10" cellspacing="0"
                                           width="100%"
                                           style="border-collapse:collapse;font-weight:normal!important">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <h2 style="font-family: 'Helvetica', Arial, sans-serif; font-weight: bold; font-size: 12pt">[%TITLE%]</h2>
                                                <p style="font-size: 12pt;font-weight: normal; line-height: 14.4pt">
                                                    <br />[%TEASER%]
                                                    <a style="color: rgb(204,51,51); text-decoration:none; font-size: 12pt; font-weight: bold" href="/news-referenzen/neuigkeiten-uebersicht/">mehr</a>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- Ende Block Weiß News Teasertext -->