<f:render partial="Header"/>

    <div id="SubPage" class="main-content">
        <f:format.raw>{contentLeft}</f:format.raw>
        <f:render partial="TopNavigation"/>
        <f:format.raw>{content}</f:format.raw>
        

        <div class="section section-2 container" id="Aktuelle">
            <div class="section-2__content">
                <h2>Aktuelle Stellenanzeigen</h2>
                <h5><strong>Wir suchen zur Verstärkung unseres wachsenden Teams zum nächstmöglichen
                    Zeitpunkt.</strong></h5>

                <div class="panel-group" id="accordion-155">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a   href="#collapse-157"  >Steuerberater
                                (m/w)</a></h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a  href="#collapse-161" >Steuerfachwirt (w/m)</a></h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a   href="#collapse-156"  >Steuerfachangestellten (w/m)</a></h4>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a  href="#collapse-476" aria-expanded="false"
                            >Büromanagement (w/m)</a></h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section container">
            <img src="img/center-img2.jpg" loading="lazy" alt="" class="res-i">
        </div>
        <div class="section container" id="Ausbildung">
            <div class="row row--lg">
                <div class="col-md-6">
                    <img src="img/img-3.png" loading="lazy" alt="" class="res-i">
                </div>
                <div class="col-md-6">
                    <h2>Ausbildung</h2>
                    <h5><strong>EIN GUTER START INS BERUFSLEBEN</strong></h5>
                    <p><strong>Wie läuft die Ausbildung bei uns ab?</strong></p>
                    <p>
                        – Ab tag 1 gehts fachlich bei uns los
                        <br>
                        – Du bekomsmt einen persönlichen Betreuer
                        <br>
                        – Brücke zwischen Lerninhalten, Umsetzung ins Praktische
                        <br>
                        – Wie viele Auszubildenen hatten wir schon.
                    </p>
                    <br>
                    <br>
                    <div class="panel-group" id="accordion-155">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a role="button"  href="#collapse-157a"  >Kauffmann/frau
                                    Büromanagement</a></h4>
                            </div>

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a   href="#collapse-157a"  >Steuerfachangestellter</a></h4>
                            </div>

                        </div>

                    </div>
                    <p>
                        <strong> <a href="#">Wir freuen uns über Ihre Bewerbung</a></strong>

                    </p>
                    <p>
                        Bewerbung an Frau Aylin-Désirée Andrä
                        <br>
                        <a href="#">bewerbungen@andrae.de</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="section container" id="Duale">
            <div class="video-wrap">
                <video poster="img/poster2.png" controls>
                    <source src="video/video.mp4" loading="lazy" type="video/mp4" />
                    <source src="video/video.ogv" loading="lazy" type="video/ogv" />
                    <source src="video/video.webm" loading="lazy" type="video/webm" />
                </video></div>
        </div>
        <div class="section section-2 container">
            <div class="section-2__content">
                <h2>Duales Studium mit Andrä</h2>
                <h5><strong>Wir begleiten Sie als starker Partner durch Ihr Studium</strong></h5>
                <p>
                    – Inhalte der Dualen Hoschule werden in die Praxis umgesetzt
                    <br>
                    – Wir unterstützen dich bei deinen Studienarbeiten und bei deinem Bachelor
                    <br>
                    – Legen die Grundlage für deine Karriere
                </p>
                <p><strong>Du bist nicht alleine! Wir nehmen immer 2 Studenten auf</strong></p>
            </div>
        </div>
        <div class="section container">
            <div class="video-wrap">
                <video poster="img/poster3.png" controls>
                    <source src="video/video.mp4" loading="lazy" type="video/mp4" />
                    <source src="video/video.ogv" loading="lazy" type="video/ogv" />
                    <source src="video/video.webm" loading="lazy" type="video/webm" />
                </video></div>
        </div>

        <div class="section container">
            <div class="row row--lg">
                <div class="col-md-6">
                    <img src="img/img-3.png" loading="lazy" alt="" class="res-i">
                </div>
                <div class="col-md-6">
                    <h2>Bewerben Sie sich für einen Studienplatz für 2020!</h2>
                    <p><strong>Lorem Ipsum sit dolor</strong></p>
                    <p>Die vier Bereiche Steuern, Wirtschaftsrecht, Rechnungswesen/Controlling/Finanzen und
                        Prüfungswesen bilden den Kern des Studiengangs „Rechnungswesen, Steuern und
                        Wirtschaftsrecht“ (RSW) an der DHBW Stuttgart. Er bereitet qualifizierten
                        Führungskräftenachwuchs gezielt auf die Bedürfnisse von Steuer- bzw. Wirtschaftsprüfern
                        bzw. die funktional ausgerichteten Bedürfnisse von Industrie-, Handels- und
                        Dienstleistungsunternehmen vor.</p>
                    <br>
                    <br>
                    <div class="panel-group" id="accordion-155">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a   href="#collapse-157ab"  >Steuerberatungsbranche</a></h4>
                            </div>

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  href="#collapse-157abb"  >Wirtschaftsbranche</a></h4>
                            </div>

                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a   href="#collapse-157abbb"  >Steuer- und Rechnungswesenabteilungen von
                                    Unternehmen unterschiedlicher Branchen als sog. Syndikussteuerberater</a></h4>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="section section-2 section-final container">
            <div class="section-2__content">
                <h2>Als Absolvent und Absolventin Verantwortungsvolle Aufgaben</h2>
                <h5><strong>im Rahmen des Steuerrechts, des Finanz- und Rechnungswesens sowie des Prüfungswesens
                </strong></h5>
                <p><strong>Wir bieten Ihnen eine Vielzahl an attraktiven Angeboten</strong></p>
                <p>Die Absolventen und Absolventinnen des Studiengangs RSW – Steuern und Prüfungswesen
                    übernehmen in Steuerberatungs- und Wirtschaftsprüfungskanzleien und -gesellschaften sowie in
                    anderen Unternehmen unterschiedlicher Branchen verantwortungsvolle Aufgaben im Rahmen des
                    Steuerrechts, des Finanz- und Rechnungswesens sowie des Prüfungswesens und bewältigen diese
                    erfolgreich.Haben Sie Interesse daran, mit uns gemeinsam diesen Studiengang zu absolvieren?
                    Das duale Studium ist unterteilt in sogenannte Praxis- und Theoriephasen. Während der
                    Praxisphasen befinden Sie sich bei uns im Unternehmen, während der Theoriephasen an der
                    Dualen Hochschule in Stuttgart. Die Phasen wechseln sich üblicherweise im Dreimonatsrhythmus
                    ab und erstrecken sich insgesamt über einen Zeitraum von drei Jahren.Nach erfolgreichem
                    Studium erwerben Sie an der DHBW den Bachelor of Arts.</p>
            </div>
        </div>
        <f:render partial="Footer"/>
    </div>