<div class="new-footer section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12 new-footer__col">
                <f:cObject typoscriptObjectPath="lib.footerLeftColumn" />
            </div>
            <div class="col-lg-5 col-sm-7  col-xs-12">
                <f:cObject typoscriptObjectPath="lib.footerCenterColumn" />
            </div>
            <div class="col-lg-4 col-sm-5 col-xs-12">
                <f:cObject typoscriptObjectPath="lib.footerRightColumn" />
            </div>
        </div>
    </div>
</div>