<div class="new-footer section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12 new-footer__col">
                <p>Bewerbung an:
                    <br>
                    <strong>Frau Aylin-Désirée Andrä</strong>
                    <br>
                    <a href="mailto:bewerbungen@andrae.de">bewerbungen@andrae.de</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-7  col-xs-12">
                <h2>Jetzt sind Sie an der Reihe</h2>
                <h5><strong>Schreiben Sie uns eine Email, rufen Sie uns an.</strong></h5>
                <p class="text-red "><strong>Wir freuen uns auf Ihre Bewerbung</strong></p>
                <p>
                    <strong>ANDRÄ Consulting Group</strong>
                    <br>
                    Steinbeisstraße 13
                    <br>
                    71332 Waiblingen
                </p>
                <p>
                    Telefon: 07151 959500
                    <br>
                    Telefax: 07151 95950-95
                    <br>
                    info@andrae.de
                    <br>
                    www.andrae.de

                </p>
            </div>
            <div class="col-lg-4 col-sm-5 col-xs-12">
                <a href="mailto:bewerbungen@andrae.de">
                  <f:comment>
                    <img src="fileadmin/template_v2/Resources/Public/img/mail-img.png" loading="lazy" alt="" class="res-i">
                  </f:comment>  
                    
                  <img src="fileadmin/template_v2/Resources/Public/img/Andrae-Karriere-Kontakt.png" loading="lazy" alt="" class="res-i">
                </a>
            </div>
        </div>
    </div>
</div>