<div class="top-nav">
    <div class="container">
        <nav class="linksBlock">
            <a class="linksBlock__item " href="#UNSERE">UNSERE KULTUR </a>
            <a class="linksBlock__item" href="#Karrierechancen">Karrierechancen</a>
            <a class="linksBlock__item" href="#Ausbildung"> Offene Stellen </a>
            <a class="linksBlock__item" href="#Ausbildung">Ausbildung</a>
            <!-- <a class="linksBlock__item" href="#">Stellen</a>
            <a class="linksBlock__item" href="#">KULTUR</a> -->
            <a class="linksBlock__item" href="#Duale">Duale Hochschule</a>
        </nav>
    </div>
</div>